<% @companies.each do |company|%>
<div class="col-lg-4 col-md-6 col-12 mb-3">
  <div class="card my-3">
    <%= image_tag "doctors_#{(rand 1..13).to_s}", alt: "Card image cap", class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">
        Dr.
        <%= company.name %>
      </h5>
      <ul class="weekdays_list">
        <% company.schedules.each do |schedule| %>
        <% weekdays.each do |day|%>
        <% if day[:value] == schedule.weekday %>
        <li class="hours_list">
          <%= day[:label] == Time.now.strftime("%A") ? "<b>#{day[:label]}</b>".html_safe : day[:label] %>
          <% if schedule.closed %>
          <p>
            <%= 'Closed' %>
          </p>
          <% else %>
          <p>
            <%= schedule.opens_at.strftime('%k:%M') %> -
            <%= schedule.closes_at.strftime('%k:%M') %>
          </p>
          <% end %>
        </li>
        <% end %>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
