<div class="container mt-4" style="margin-bottom: 5rem;">
  <%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="table-responsive">
    <table class="schedule-editor table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Opens at</th>
          <th scope="col">Closes at</th>
        </tr>
      </thead>
      <tbody>
        <% weekdays.each do |day| %>
        <%= f.fields_for :schedules, f.object.schedules.find_or_initialize_by(weekday: day[:value]) do |sched| %>
        <tr>
          <td scope="row">
            <%= sched.hidden_field :weekday %>
            <div class="checkbox form-check form-switch">
              <%= sched.check_box :closed, {checked: sched.object.persisted?}, false, true %>
              <%= sched.label :closed, day[:label], class: 'form-check-label', for: 'flexSwitchCheckDefault' %>
            </div>
          </td>
          <td scope="row">
            <%= sched.label :opens_at, class: "visually-hidden" %>
            <%= sched.input :opens_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          </td>
          <td scope="row">
            <%= sched.label :closes_at, class: "visually-hidden" %>
            <%= sched.input :closes_at, as: :string, required: false, input_html: {class: "datepicker"} %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn-form"%>
    <% end %>
  </div>
</div>
