<div class="container" style="margin-top: 5rem;">
  <div class="row">
    <% @companies.each do |company|%>
    <div class="col-lg-4 col-md-6 col-12 mb-3">
      <div class="card my-3">
        <%= image_tag "doctors_#{(rand 1..13).to_s}", alt: "Card image cap", class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title">
            <%= company.name %>
          </h5>
          <% company.schedules.each do |schedule| %>
          <% weekdays.each do |day|%>
          <ul>
            <% if day[:value] == schedule.weekday %>
            <li>
              <%= day[:label] %>
              <p>
                <%= schedule.opens_at.strftime('%k:%M') %> -
                <%= schedule.closes_at.strftime('%k:%M') %>
              </p>
            </li>
            <% end %>
          </ul>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
